body{
    padding: 0%;
    margin: 0%;
}
.topNavbar{
    position: fixed;
    z-index: 1;
    top: 0px;
    background-color: rgb(138, 221, 21);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.topNavbar button{
    margin: 20px;
}
.navbar-brand img{
    width: 5.5rem;
    padding-right: 8px;
}
.responsiveNav{
    display: flex;
    flex: 1 ;
    align-items: center;
    justify-content: space-around;
}
#bcontain{
    width: 12%;
}
.navlinks{
    padding: .5rem;
}
.loginB{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-12 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainContainer{
    position: absolute;
}
.searchContainer{
    position: relative;
    margin-top: 80px; left: 10px;
    float: left;
    width: 60%; margin-right: 50px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px greenyellow;
}
.row{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}
.col-12 input{
    padding: 5px 10px;
    border-radius: 15px;
    border-width: 1px;
    border-color: black;
}
.regularText{
    margin: 0px 20px;
}
.foodTypeB{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
button.foodType{
    border-radius: 10px;
    border-style: none;
    border: 1px solid grey;
    padding: 0.313rem 0.5rem;
}
.adContainer{
    position: relative; top: 80px;
    float: left;
    background-color: honeydew;
    width: 30%;
    min-height: 280px;
}
.cuisineouterBox{
    width: 100%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cuisineBox{
    height: 120px;
    width: 120px;
}
